[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anylabeling = "*"
pyqt5 = "*"
opencv-python = "==4.6.0.66"
ipykernel = "*"
psycopg = {extras = ["binary"], version = "*"}
sqlalchemy = "*"
python-dotenv = "*"
pandas = "*"
extcolors = "*"
colordict = "*"
Pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
